  
  .fondo-footer-header {
    background-color:#232323;
}

header {
     
      img { width: 4rem;
        height: 5%;
       }
       
      }
    
     .borde-nav-responsive{
      border-radius: 5px;
  }
  .nav-centrar {
    margin: auto;
    letter-spacing: 0.1rem;
  .nav-size {
    font-size: 15px;
  }
 
  .gyg {
    margin: auto;
  }
}